.overflow_wrapper{
    position: relative;
    overflow-x: hidden!important;
}


h1 {
    font-family: monospace;
    font-size: 2.1em;
    color: #3399FF;
}

.loading{
      height:100vh;
      width:100vw;
      background-color: black;
      position:fixed;
      z-index: 9999;
      opacity: 1;
}

html, body {
    width: 100%;
    margin:0px;
    text-align:center;
    padding:0px;
    background-color: #000000;
}


.stretch_it{
    white-space: nowrap;
}
.justify{
    text-align:justify;
}

#section1 {position: relative; margin:0px;margin-top:0px;padding:0px;height:auto;color: #000; background-color: #222C32;}
#section1 h1{
  top:40vh!important;
  font-family: 'roboto', sans-serif!important;
}
#section2 {position: relative; margin:0px;padding:0px;color: #fff; background-color: #323a36;}
#section2 .wiki p{
  text-align: center;
  font-size: 30px;
  font-family: 'roboto',sans-serif ;
  padding-top:15px;
  padding-bottom: 0;
  color:#b0e5cb;

}
#section2 .wiki h2{
  text-align: center;
  font-size: 45px;
  font-family: 'roboto',sans-serif ;
  padding-top:10px;
  padding-bottom: 0;
  color:#b0e5cb;

}
#section2 .wiki a{
  position:absolute;
  left:40vw;
  background-image:url("../logo/wiki_button.png");
  height:200px;
  width:320px;
}
#section2 .wiki a:hover{
  position:absolute;
  left:40vw;
  background-image:url("../logo/wiki_button_hover.png");
  height:200px;
  width:320px;
}
#section2 .wiki_mobile {

  height: calc(100% - 540px);
  margin-bottom:0;
}
#section2 .wiki_mobile p {
  padding :10px 30px 15px 30px;
  font-family: 'roboto', sans-serif;
  font-size: 18px;
  color:#b0e5cb;
  text-align: center;
  line-height: 1.5em;
}
#section2 .wiki_mobile h2 {
  padding :30px 30px 0px 30px;
  font-family: 'roboto', sans-serif;
  font-size: 28px;
  color:#b0e5cb;
  text-align: center;
  line-height: 1.5em;
}
#section2 .wiki_mobile a {
}

#section3 {position: relative;font-family: 'roboto', sans-serif!important;margin:0px;padding:0px;color: #fff; background-color: #ededed;}
#section4 {position: relative; 
  font-family: 'roboto', sans-serif!important;
  margin:0px;
  padding:0px;
  height:auto;
  color: #fff; 
  background-color: white; 
} 
#section5 {position: relative; font-family: 'roboto', sans-serif!important;margin:0px;padding:0px;color: #fff;}
#section5 a {
  width:100vw;
  height:auto;
  background-size:cover;
}
#section6 {position: relative;font-family: 'roboto', sans-serif!important; margin:0px;padding:0px;width: 100%;height:100vh;color: #fff;background-color: #ededed;}
#section7 {position: relative; font-family: 'roboto', sans-serif!important;margin:0px;padding:0px;width: 100%;color: #fff;}

 .affix {
    position: fixed;
     top: 0;
     width: 100%;
     z-index: 999 !important;
 }

 .affix + .container-fluid {
     padding-top: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
 }

/* nav #myNavbar .navbar {
    margin-bottom: 0px !important;
}  */

.navbar-inverse{
  opacity: .9;
}
 .img-responsive {
    margin: 0 auto;
}
.mobile_social_buttons{
  z-index: 13;
  position: absolute;
  top:4vh;
  left:65vw;
}

.imgText {
    position: absolute;
    left: 0;
    top: 10vh!important;
    width: 100vw;
    z-index: 10;


}

.scroll_down {
    position: absolute;
    z-index: 11;
    left:0;
    top:70vh!important;
    width: 100vw;
}

.social_buttons {
    position:absolute;
    z-index:11;
    left:80vw;
    top:85vh!important;
    width:20vw;



}




.facebook_feed{
  position:absolute;
  z-index:11;
  top:0!important;
  left:0;
  right:75vw;
  height:100vh;
  opacity:.3!important;
}


.social_buttons img{
    position:relative;
}


#imageContainer {
    background-color: #333;
    width: 100vw;
    overflow: hidden;
    z-index: -99;
    border: 2px #333 solid;

}

#imageContainer img.myanimation {
animation: kenburns 30s infinite;
}
@-webkit-keyframes smooth {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

@keyframes kenburns {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  70% {
      transform: scale3d(1.3,1.3,1.3) translate3d(-170px, 50px, 0px);
      animation-timing-function: ease-in;
      opacity: 1;
  }
  95% {
      transform: scale3d(1.1,1.1,1.1) translate3d(-100px, 10px, 0px);
      animation-timing-function: ease-in;
      opacity: 1;
  }

  100% {
      transform: scale3d(2,2,2) translate3d(-100px, 10px, 0px);
      opacity: 0;
  }
}
